table {
    width:100%;
    font-family: arial;
}

.kop td {
    padding:5px;
    border:1px solid black;
    background-color:#c9c9c9;
    font-weight: bold;
}
th {
    background-color: rgb(255, 0, 0);
}
tr:nth-child(even) {background-color: #c9c9c9;}