/* Formulier*/
form {
    font-family:Ariel, Helvetica,
    sans-serif;
}

label {
    float:left;
    width:100px;
    text-align: right;
    margin-right: 15px;
}

#content form fieldset {
    height:auto;
    Width:350px;
    border:4px solid #4D365B;
    padding: 10px 10px 10px 10px;
    margin-left: 200px;
}
/* Eind opmaak formulier*/
